header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header a{
    margin-left: 20px;
}
header button{
    margin-right: 20px;
}
header h1{
    margin-left: 15vw;
    margin-right: 15vw;
}
header button{
    margin-top: 14px;
    border:0 transparent;
    background-color: transparent;
    font-size: 2vw;
    cursor: pointer;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-top:5px ;
}
nav h1{
    font-weight: lighter;
    color:gray;
    font-size: x-large;
    cursor:pointer;
}
nav h1:hover{
    text-decoration: underline;
}
main{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 50px;
    max-width: 50%;
    align-items: center;
    align-self: center;
    align-content: center;
    margin: 0 auto;
}
.iten-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 205px;
    height: 237px;
}
.iten-card img{
    width: 205px;
    height: 187px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
.iten-card p{
    font-weight: 700;
    cursor: pointer;
}
.iten-card p:hover{
    text-decoration: underline;
}