@font-face {
  font-family: "ABeeZee";
  src: url("../Fonts/ABeeZee-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-flex";
  src: url("../Fonts/Roboto-flex.ttf") format("truetype");
  font-weight: 100 900; /* Fontes variáveis aceitam múltiplos pesos */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yrsa";
  src: url("../Fonts/Yrsa-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YsabeauOffice-Regular";
  src: url("../Fonts/YsabeauOffice-Regular.ttf") format("truetype"); 
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*{
  font-family: "Roboto-flex";
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

body{
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

nav a{
    text-decoration: none;
    color:black;
}

nav h1{
    margin-right:50vw;
    font-family: "YsabeauOffice-Regular";
}

.user-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.user-form-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user-form-input p{
    font-size: 25px;
    margin-bottom: 5px;
    font-weight: bolder;
}
.user-form-input input{
    width: 300px;
    height: 30px;
    padding:10px;
    border-radius: 10px;
    border:2px solid black;
}


.pedido-itens-container{
    margin-top: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap:20px;
}
.itens-container{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.itens-container img{
    height: 64px;
    width: 64px;
    border-radius: 50px;
    object-fit: cover;
}
.itens-container aside{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:20px;
    margin-left: 20px;
}

.finalizar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.finalizar-container button{
    width: 300px;
    height: 60px;
    font-size: x-large;
    border: 2px solid black;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}

.finalizar-container button:hover{
    background-color: black;
    color: white;
}

.finalizar-container p{
    font-size: x-large;
    font-weight: bolder;
}

.entrega-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.entrega-container img{
    object-fit: cover;
    width: 500px;
    border-radius: 30px;
}
.entrega-container p{
    font-size: x-large;
    font-weight: bolder;
}


.pagamento-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap:20px;
}
.pagamento-container p{
    font-size: x-large;
    font-weight: bolder;
}

#pix{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
    justify-content: space-evenly;
    cursor: pointer;
}