@font-face {
  font-family: "ABeeZee";
  src: url("../Fonts/ABeeZee-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-flex";
  src: url("../Fonts/Roboto-flex.ttf") format("truetype");
  font-weight: 100 900; /* Fontes variáveis aceitam múltiplos pesos */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yrsa";
  src: url("../Fonts/Yrsa-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YsabeauOffice-Regular";
  src: url("../Fonts/YsabeauOffice-Regular.ttf") format("truetype"); 
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}